:root {
  --bubble-d: 4.5rem; /* bubble diameter */
  --bubble-r: calc(0.5 * var(--bubble-d)); /* bubble radius */
  --sparkle-d: 0.375rem;
  --sparkle-r: calc(0.5 * var(--sparkle-d));
}

.heart-toggle-container {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  /* background: linear-gradient(135deg, #121721, #000); */
  font-family: verdana, sans-serif;
}

input#toggle-heart {
  position: absolute;
  left: -100vw;
}

input#toggle-heart:checked + label {
  color: #e2264d;
  filter: none;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

input#toggle-heart:checked + label:before,
input#toggle-heart:checked + label:after {
  animation: inherit;
  animation-timing-function: ease-out;
}

input#toggle-heart:checked + label:before {
  animation-name: bubble;
}

input#toggle-heart:checked + label:after {
  animation-name: sparkles;
}

input#toggle-heart:focus + label {
  text-shadow: 0 0 3px white, 0 1px 1px white, 0 -1px 1px white, 1px 0 1px white, -1px 0 1px white;
}

label[for="toggle-heart"] {
  align-self: center;
  position: relative;
  color: #888;
  font-size: 2em;
  filter: grayscale(1);
  user-select: none;
  cursor: pointer;
}

label[for="toggle-heart"]:before,
label[for="toggle-heart"]:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: "";
}

label[for="toggle-heart"]:before {
  box-sizing: border-box;
  margin: calc(-1 * var(--bubble-r));
  border: solid var(--bubble-r) #e2264d;
  width: var(--bubble-d);
  height: var(--bubble-d);
  transform: scale(0);
}

label[for="toggle-heart"]:after {
  margin: calc(-1 * var(--sparkle-r));
  width: var(--sparkle-d);
  height: var(--sparkle-d);
  box-shadow: 0 0 0 0 hsl(0, 100%, 75%);
}

/* Keyframes */
@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: var(--bubble-r);
  }

  30%,
  100% {
    transform: scale(1);
    border-width: 0;
  }
}

@keyframes sparkles {
  0%,
  20% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    box-shadow: 0 0 0 0 hsl(0, 100%, 75%);
  }
}
