@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black !important;
  color: white !important;
}
.backColor {
  padding: 50px;
  background-color: rgb(74, 66, 66);
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px;
  background: transparent; /* make scrollbar invisible */
  /* background: red; */
}
html {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
body {
  -ms-overflow-style: none; /* Hide scrollbar for Edge and IE */
  overflow: -moz-scrollbars-none; /* Hide scrollbar for other browsers */
}

.posNormal {
  position: relative;
  z-index: 1; /* Ensure it's above other content */
}

.posFixedAtTop {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.posFixedAtTop + .restOfComponets {
  padding-top: 50px;
}

.sidebarFixedSide {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  min-height: calc(100vh - 112px);
}

.sidebarFixedSide li {
  cursor: pointer;
  margin-top: 20px;
}

.limit2Lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.6em; /* 2 lines * line-height */
}
.limit5Lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.minHeightCard {
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.cardImages {
  /* min-height: 165px; */
  max-height: 200px;
  border-radius: 50px;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

/* For Firefox */
input[type="search"]::-webkit-search-decoration {
  cursor: pointer;
}

.wordOfTheDay {
  border-radius: 45px;
  background: linear-gradient(45deg, black, #726e6e);
  color: #fffaf1;
}

/* Dark Theme Form Input */

.form-control {
  background-color: black;
  color: white;
}
.form-control:focus {
  background-color: black;
  color: white;
}
.form-control::placeholder {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.table {
  --bs-table-bg: black;
}

/* .maxWidthContent {
  max-width: calc(100vw - 15rem);
} */